@import '../../../styles/variable.scss';
@import '../../../styles/mixin.scss';

.blackAndBlue{
    background-color: $white-color;
    color: $primary-color;
    border: 1px solid $primary-color;
    @include btn;
}

.btn-sm {
    padding: 15px 30px;
    font-size: 18px;
    min-width: 100px;
    min-height: 50px;
}

.btn-lg {
    min-width: 250px;
    padding: 10px;
    font-size: 24px;
}