@import"../../styles/variable.scss";
.aboutUs {
    max-width: 1200px;
    margin: 100px auto 0 auto;
    h1 {
            text-align: center;
            margin: 0;
            margin-bottom: 50px;
            font-size: 36px;
            font-family: Muli-Light;
            font-weight: 300;
        }
    p   {
            line-height: 1.78;
            letter-spacing: .18px;
            text-align: center;
            padding: 0 20px;
            @media only screen and (min-width:$breakpoint-320)and(max-width:$breakpoint-768) {
                    line-height: 1.2;
                }
        }
               
        @media only screen and (min-width:$breakpoint-320)and(max-width:$breakpoint-768){
        margin-top: 50px;
	}
}
