$primary-color: blue;
$secondary-color: gray;
$danger-color: red;
$warning-color: orange;
$success-color:green;
$white-color:#fff;


$h1-fontsize: 40px;
$h2-fontsize: 36px;
$h3-fontsize: 28px;
$h4-fontsize: 20px;
$h5-fontsize: 18px;
$h6-fontsize: 16px;
