@import '../../styles/variable.scss';
header{
    background-image: url('../../images/bg1.png');
    // height: 1140px;
    max-width:1900px;
    background-size: cover;
    width: 100%;
    height: auto;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    .logo {
            margin-top: 50px;
            @media only screen and (min-width:$breakpoint-992)and(max-width:$breakpoint-1400) {
                margin-left: 20px;
            } 
        }   
        @media only screen and (min-width:$breakpoint-320)and(max-width:$breakpoint-992){
                flex-direction: column;
            }
}
.aboutTeam {
    max-width: 850px;
    margin: 200px auto 0 auto;
    h1 {
            font-size: 40px;
            font-family: Poppins-SemiBold;
            line-height: 1.4;
            font-weight: 600;
            @media only screen and (min-width:$breakpoint-320)and(max-width:$breakpoint-992) {
                    line-height: 1.1;
                }
        }
    span{
            line-height: 1.5;
            font-weight: normal;
        @media only screen and (min-width:$breakpoint-320)and(max-width:$breakpoint-992) {
                line-height: 1.1;
            }
    }    
    @media only screen and (min-width:$breakpoint-320)and(max-width:$breakpoint-992){
		margin-top: 50px;
        text-align: center;
        padding: 0 15px;
	} 
}
.topNav {
    display: flex;
    align-items: flex-end;
    @media only screen and (min-width:$breakpoint-320)and(max-width:$breakpoint-576) {
        display: none;
    }
    @media only screen and (min-width:$breakpoint-576)and (max-width:$breakpoint-768){
		flex-direction: column;
	}
}
.number{
    margin-top: 10px;
    color: $white-color;
    font-size: 16px;
    font-family: Poppins-SemiBold;
    padding: 0 20px;
    img{
        margin-bottom: -3px;
        margin-right: 2px;
    }
    @media only screen and (min-width:$breakpoint-576)and (max-width:$breakpoint-768){
		display: none;
	}
}
.brandPartners{
    max-width: 1500px;
    margin: 400px auto 0 auto;
    h1{
        text-align: center;
        font-size: 36px;
        font-family: Muli-Light;
        font-weight: 300;
    }
    @media only screen and (min-width:$breakpoint-320)and(max-width:$breakpoint-1140){
        margin-top: 50px;
	} 
}
.brandIcon{
    display: flex;
    align-items: center;
    margin-left: 150px;
    img {
            padding: 20px 40px;
        }
    @media only screen and (min-width:$breakpoint-320)and(max-width:$breakpoint-1140){
		flex-direction: column;
        margin-left: 0;
        padding: 10px 20px;
	}
    @media only screen and (min-width:$breakpoint-1140)and(max-width:$breakpoint-1400){
        margin-left: 0px;
        overflow: hidden;
	} 
}
