@import '../../styles/variable.scss';
header{
    background-image: url('../../images/bg1.png');
    // height: 1140px;
    max-width:1900px;
    background-size: cover;
    width: 100%;
    height: auto;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    .logo {
            margin-top: 50px;
        }
}
.aboutTeam {
    max-width: 850px;
    margin: 200px auto 0 auto;
    h1 {
            font-size: 40px;
            font-family: Poppins-SemiBold;
            line-height: 1.4;
            font-weight: 600;
        }
    span{
            line-height: 1.5;
            font-weight: normal;
            
    }    
}
.topNav {
    display: flex;
    align-items: flex-end;
}
.number{
    margin-top: 10px;
    color: $white-color;
    font-size: 16px;
    font-family: Poppins-SemiBold;
    padding: 0 20px;
    img{
        margin-bottom: -3px;
        margin-right: 2px;
    }
}
.brandPartners{
    max-width: 1500px;
    margin: 400px auto 0 auto;
    h1{
        text-align: center;
        font-size: 36px;
        font-family: Muli-Light;
        font-weight: 300;
    }
    
}
.brandIcon{
    display: flex;
    align-items: center;
    margin-left: 150px;
    img {
            padding: 20px 40px;
        }
}
